.item-container h1{
    margin: 0;
    padding: 0;
    color: black;
}

.item-container p {
    margin: 0;
    padding: 0;
}

.price-container{
    height: 30px;
    border: none;
    background-color: white;
    border: 1px solid #0000ff;
    border-radius: 0px;
}

.dropdown-wrapper select{
    font-size: 12px;
}

p {
    color: #b3b3b3;
    font-size: 12px;
}

.option-container {
    font-size: 12px;
}

a {
    text-decoration: none;
}

.addto-cart-quantity{
    display: inline-block;
    width: 35px;
    height: 25px;
    padding-left: 3px;
    border: 1px solid grey;
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.addto-cart-input {
    width: 55px;
    height: 25px;
    margin-bottom: 20px;
}

.addto-cart-button {
    width: 50%;
    height: 25px;
    margin-left: 5px;
    padding: 3px;
}

.product-bottom p{
    color: #ff0000
}

.price-container-p p{
    font-size: 15px;
}

.add-message-p{
    color: green;
}
