* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container{
    transform: translateX(-20px);
}

.signup-container {
    min-height: 32rem;
    width: 370px;
    background-color: #ffffff;
    transform: translateX(0.7rem);
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
}



.bottom-container button {
    width: 100%;
    height: 50px;
    background-color: #9acb50;
    border-radius: 0;
    color: #ffffff;
    font-size: medium;
}

.custome-input input {
    width: 98%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.fullname-container {
    width: 90%;
}

.fullname-container input{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;   
}

.fullname-container-2 {
    width: 90%;
}

.fullname-container-2 input{
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove; 
}

label {
    margin-top: 20px;
    font-size: smaller;
    color: #b3b3b3;
}

.no-outline:focus {
    outline: none;
}

h1 {
    margin-top: 2rem;
    color: #84c225;
    font-size: 1rem;
    line-height: 1.19rem;
    font-weight: 500;
}

h2 {
    color: #000000;
    font-size: 1rem;
    line-height: 1.19rem;
    font-weight: 300;
}


.bottom-container p {
    color: #b3b3b3;
    font-size: 13px;
}

.bottom-container span {
    color: #96bafa;
}

.terms-conditions {
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-container button:hover {
    cursor: pointer;
    background-color: #9acb50;
    color: white;
    cursor: pointer;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 18rem;
    align-self: flex-end;
}

.continue-container{
    height: 14rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.continue-container button{
    height: 50px;
    width: 90%;
    border: none;
    cursor: pointer;
    background-color: #9acb50;
    color: white;
    cursor: pointer;
}

.continue-container button:hover{
    height: 50px;
    width: 90%;
    border: none;
    cursor: pointer;
    background-color: #9acb50;
    color: white;
    cursor: pointer;
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: white;
    padding: 30px 20px;
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
    width: 310px;
}

.cross-mark {
    transform: translate(280px, -37px);
}

.cross-mark button {
    width: 20px;
    height: 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
}

h4 {
    font-size: 0.8rem;
}

.main-side-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24rem;
}

.modal-content {
    width: 0px;
}

.download-btn button {
    height: 35px;
    background-color: white;
    border-radius: 5px;
    color: #909090;
    font-size: 9px;
    font-weight: 600;
}

.download-btn button:hover {
    height: 35px;
    background-color: white;
    border-radius: 5px;
    color: #909090;
    font-size: 9px;
    font-weight: 600;
}

.fa-play {
    text-transform: capitalize;
}

small {
    display: block;
    color: #ff0000;
    font-size: 10px;
}

.fa-bottle-droplet {
    color: #c3c3c3;
}

.fa-rotate-right {
    color: #c3c3c3;
}

.error {
    border-bottom: 1px solid #ff0000;
}

.success {
    border-bottom: 1px solid #84c225;
}

.disabled.btn {
    border: none;
    color: #ffffff;
    background-color: #84c225;
    opacity: 0.65;
    cursor: not-allowed;
}

.disabled-button-container{
    width: 90%;
    cursor: not-allowed;
}
